<html>
    <head>
        <title>ToDo List</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/bootstrap.min.css') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="{{url_for('home')}}">ToDo List</a>
            </nav>
        </header>
        <section id="formulario">
            <div class="container border rounded mt-3">
                <h2>Novo ToDo</h2>
                <form action="{{url_for('inserir_todo')}}" method="POST">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control" id="todo-titulo" name="titulo">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" id="todo-descricao" name="descricao">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </section>
        <section id="todo-lista">
            <div class="container border rouded mt-3">
                {% if todo_list %}
                    {% for todo in todo_list %}
                        <div class="card">
                            <div class="card-header">
                                {{todo.get_data()}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{todo.get_titulo()}}</h5>
                                <p class="card-text">{{todo.get_descricao()}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {%  else %}
                <div class="alert alert-info m-3" role="alert">
                    Nenhum todo encontrado :´(
                </div>
                {%endif%}
            </div>
        </section>
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"> </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    </body>
</html>